.score-list {
  list-style: none;
  border: 2px solid black;
  margin-top: 17px;
}

.score-list li:nth-child(even) {
  background-color: rgb(207, 229, 247); /* Red */
}

footer {
  border: 2px solid black;
  position: fixed;
  bottom: 0.4em;
  width: 100%;
  text-align: center;
}
